<div class="location-container">
  <div class="location-name">
    <div class="icon-area">
      <i class="material-icons">location_on</i>
    </div>
    <span class="city">Kuala Lumpur</span>
    <span class="state">Federal Territory</span>
    <span class="country">Malaysia</span>
  </div>
  <div class="location-time">
    <div class="icon-area">
      <i class="material-icons">av_timer</i>
    </div>
    Wednesday<br>
    8:00 PM
  </div>
  <div class="location-weather">
    <div class="weather-icon"><i class="material-icons">cloud_queue</i></div>
    Mostly Cloudy
  </div>
  <div class="location-temperature">
    <span class="degree">29°C <sup>/ 85°F</sup></span>
    <span class="others">
      <ul>
        <li><span class="label">Precipitation</span> 0%</li>
        <li><span class="label">Humidity</span> 73%</li>
        <li><span class="label">Wind</span> 7 mph</li>
      </ul>
    </span>
  </div>
</div>